<div class="theme-showcase" role="main">

  <div class="left-pic">
    <img src="//media.npr.org/assets/img/2017/09/15/bodega7_mercado_custom-5f659f62d5b918c66e9ba54080e2d51210098719-s1600-c85.jpg" width="550" height="325">
  </div>

  <div class="right-info">
    <h1>Welcome to your Neighborhood Corner Store!</h1>
    <div class="center">
    </div>
  </div>

</div>
