<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

  <div class="form-group">
    <%= f.label :name, "Select your name" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

<% end %>
