<h1>Items Show Page </h1>




<!--
I need to find the purchase by the id
Select the purchase

Is the next thing I'm filling in purchase.item.comment?
what method here can I use to grab the items comment

I want to create a new item with a comment

the run  @item.buy_item

-->
