<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @purchase.name %></p>
    <p><strong>Price:</strong> <%= @purchase.price %></p>
    <p><strong>Quantity:</strong> <%= @purchase.quantity %></p>

  <%= link_to 'Back', purchases_path, class: "btn btn-primary btn-light" %></p>

  </div>
</div>
