<h1>Purchase from the cart </h1>

<h3>Filter Purchasable Items</h3>
<%= form_for @purchases, url: "/items/new" do |f|%>

  <div class="field"><%= f.label :purchase, 'Select the item you want to buy' %><br>
    <%= f.collection_select(:id, @purchases, :id, :purchase) %>
  </div>
<% end %>
