<h1>Purchase from the cart </h1>


<%= form_for(@user) do |f| %>

  <div class="form-group">
    <%= f.collection_select :user_ids, Purchase.all, :name, :name %></div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %></div>

<% end %>

<!--
I need to find the purchase by the id
Select the purchase

Is the next thing I'm filling in purchase.item.comment?
what method here can I use to grab the items comment

I want to create a new item with a comment

the run  @item.buy_item

-->
